<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img_logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Feature.Splash.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Feature.Intro.IntroScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.Language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.Language.LanguageStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.Setting.SettingScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.About.AboutScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.Permission.PermissionScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Feature.Main.MainScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>